@font-face {


  font-family: "Montserrat-Regular";
  src: url("../style/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  max-width: 100%;;
  padding:0px !important;
  margin:0px !important;
}

.main {
  min-height: 100vh;
  background-image: url("../pic/fac2.JPG");
  background-position: 50%;
  background-size: cover;
  scroll-snap-align: start;
}



/* ------------------NAV BAR --------------------*/
.menu {
  z-index: 20;
  font-family: Montserrat-Regular;
  height: 60px;
  padding: 0px 40px;
}

.menu a {
  margin: 2px;
  margin-left: 20px;
  font-size: 1.2em;
  color: rgba(236, 236, 236, 0.84);

  padding: 10px;

  transition: all 0s ease;
}

.menu a:hover {
  margin-top: 2px;
  color: rgba(236, 236, 236, 1);
  background-color: #6262627a;
  border-radius: 0px 0px 0px 0px;

  transition: all 0.5s ease;
}

/*----------------------CARROUSEL----------------------------*/


